<div class="container">
    <carousel>
        <slide *ngFor="let product of allProducts;let i=index">
          <img src="{{product?.productImage}}" alt="first slide" class="carousel-img" style="display: block;width:40vw;height: 30vw;;margin: auto;">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="text-danger">{{product?.productName}}</h3>
            <p class="text-primary">{{product?.description}}</p>
          </div>
        </slide>
      </carousel>

      <h1 class="text-center">Products</h1>
    <hr>
    <div class="row">
    <div class="card row-col-10 col-sm-5 col-md-4 col-lg-4 mx-auto mb-3" *ngFor="let product of allProducts;let i=index">
        <img src="{{product?.productImage}}" width="10vw" height="300vw" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{product?.productName}}</h5>
          <h6 class="card-title">Price: {{product?.price}}$</h6>
          <p class="card-text">Description: {{product?.description}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <button type="submit" class="btn btn-sm float-start" style="background-color: #eb8f05;">Buy</button>
          <button type="submit" class="btn btn-sm float-end" style="background-color: #ffe434;">Add to Cart</button>
        </div>
    </div>
    </div>
</div>
